.svg-file{
    display: inline-block;
    line-height: 1em;
    height: 1em;
    width: 1em;
    background-color: currentColor;
    -webkit-mask: url(svg-file-icon.svg) no-repeat center;
    mask: url(svg-file-icon.svg)  no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

i{
    color: red;
    font-size: 100px;
}
