.ific{
    display: inline-block;
    line-height: 1em;
    height: 1em;
    width: 1em;
    background-color: currentColor;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.ific.svg{
    -webkit-mask: url(../../if-icons/svg-file-icon.svg) no-repeat center;
    mask: url(../../if-icons/svg-file-icon.svg)  no-repeat center;
}

.ific.xml{
    -webkit-mask: url(../../if-icons/xml-file-icon.svg) no-repeat center;
    mask: url(../../if-icons/xml-file-icon.svg)  no-repeat center;
}
